@page "{Id}"
@using geometrifessor.Components
@using geometrifessor.Services
@using geometrifessor.Models
@inject JsonEmneService EmneService
@model EmneModel
@{
    ViewData["Title"] = "Emne";
    var value = RouteData.Values["Id"].ToString();
}
@foreach (var emne in EmneService.GetEmner())
{
    if (emne.Id == value) 
    {  
        <h1>@ViewData["Title"] - @emne.Title</h1><br/>
        <div class="container">
            <div class="row">
                <div class="col">
                    <img src="@emne.Image" class="img-fluid" alt="" />
                    <div>@(emne.Description)</div><br>
                    <a asp-page="/Beregner">Prøv vores @emne.Title beregner her</a>
                </div>
            </div>
        </div>
    }
}