@page "{Id}"
@using geometrifessor.Components
@using geometrifessor.Services
@using geometrifessor.Models
@inject JsonEmneService EmneService
@model EmneModel
@{
    ViewData["Title"] = "Emne"; // Her der defineres side titlen hvilket bruges i _Layout.cshtml
    var value = RouteData.Values["Id"].ToString(); // her defineres variablet value ved at man får emne id fra ASPNETCORE biblioteket vha. RouteData som får dataen fra url.
}
@foreach (var emne in EmneService.GetEmner()) // Her bruges iterationen foreach til at bestemme variablet emne in funktionen EmneService.GetEmner() Det gør at når variable emne bruges så kalder den EmneService.GetEmner()
{
    if (emne.Id == value) // her bruges forgreningen if for at den kun viser data for det specifike emne.
    {  
        <h1>@ViewData["Title"] - @emne.Title</h1><br/>
        <div class="container">
            <div class="row">
                <div class="col">
                    <img src="@emne.Image" class="img-fluid" alt="" />
                    <div>@(emne.Description)</div><br>
                    <a asp-page="/Beregnere">Prøv vores @emne.Title beregner her</a>
                </div>
            </div>
        </div>
    }
}